<ion-header >
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>

    <ion-title >
        Contacter la BML
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>

    <ion-card-header>
      <ion-icon name="call" ></ion-icon> Contacts de la BML
    </ion-card-header>

    <ion-card-content>
      <p><b>Par téléphone</b> : <a href='tel:0478621800'>04 78 62 18 00</a></p>
      <p><b>Par mail</b> : <a href='mailto:bm@bm-lyon.fr'>bm@bm-lyon.fr</a></p>
      <p><b>Adresse</b> : Bibliothèque municipale de Lyon <br>
          30 boulevard Vivier-Merle <br>
          69431 Lyon Cedex 03
      </p>

    </ion-card-content>

  </ion-card>
</ion-content>