<ion-header >
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
  
      <ion-title >
          A propos de l'application
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <h2>Crédits</h2>
    <p>Cette application a été réalisée par le Service Web de la Bibliothèque municipale de Lyon.</p>
    <p>Les textes sont rédigés par l’ensemble des professionnels de la bibliothèque. Nous contrôlons au mieux la pertinence et la véracité de nos contenus. Cependant nous déclinons toute responsabilité en cas d’erreur, d’imprécision, d’inaccessibilité technique ou de falsification des contenus.</p>
    <p>Réalisation & développement Fabien Grignoux / Service web de la BML. Graphisme Antonio Cittadino</p>
    
    <h2>Copyright</h2>
    <p>La reproduction totale ou partielle des articles et illustrations  est soumise à autorisation préalable de la bibliothèque municipale de Lyon. Ceci concerne également la reproduction rendue accessible sur intranet et internet de toutes images, textes, pictogrammes et données de l'application.</p>
</ion-content>
